body{
    margin: 0;
    padding: 0;
}

#game-screen{
    display: block
}

#game-over,#game-paused,#playHud,#game-start {
    position: absolute;
    visibility: hidden;
}

#scoreboard {
    margin: 0;
    padding: 0;
}

h1,h2,h3{
    font-family: 'Sigmar ', cursive;
    color: black;
    text-align: center;
}

.title{
    font-size: 62px;
    margin-bottom: 10px;

}

#restartButton,#playButton{
    border: 2px solid orange;
    border-radius: 10px;
}

#restartButton:hover, #music:hover,#playButton:hover{
    background-color: white;
}

#scoreboard{
    margin: 0px;
    padding: 0px;
}

#music {
    position: absolute;
    border: 2px solid black;
}